.control, a {
    cursor: pointer;
    margin-right: 10px;
    font: 18px Arial;
}
label input {
    margin-right: 10px;
}
.container {
    position: relative;
    width: 750px;
    height: 750px;
}
#orrCanvas {
    position: absolute;
}
/* hide the key legend */
#orrKeyCanvas {
    display: none;
    position: absolute;
    left: 750px;
}
.controls {
    position: absolute;
    left: 10px;
    top: 10px
}
.controls label {
    margin-left: 50px;
    color: white;
}
